{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 <h1> Group : {{group.name}} <h2>

 <h4>Users In Group :</h4>
 <ul>
 {% for user in group.users %}
 <li>{{ user.name }} <a href="{{path('delete_user_Group',{'user_id':user.id , 'group_id':group.id})}}" class="btn btn-danger "> Delete From Group</a></li>
{% endfor %}
 </ul>


</div>
{% endblock %}