<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/style__ltr.min.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
         <script src="{{asset('js/modernizr.js')}}"></script>
         <script type="text/javascript" src="{{asset('js/scripts.js')}}"></script>
        {% endblock %}
    </body>
</html>
