{% extends 'base.html.twig' %}

{% block title %}Hello GroupController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
<form class="form" action="{{ path('add_user') }}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <input class="form-control" type="text"  placeholder="write your User  name" name="name">
     <input class="form-control" type="password"  placeholder="write your User  Password" name="password">
    <button type="submit" class="btn btn-success">Add User</button>
</form>
</div>
{% endblock %}
