{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome To My UserManagmentSystem ✅</h1>
   <a href="{{path('add')}}" class="btn btn-success">AddUser</a>
   <a href="{{path('group')}}" class="btn btn-success">AddGroup</a>

   <table class="table table-striped" id="users">
   <thead>
   <th>User Name</th>
   <th>actions</th>
   </thead>
   <tbody>
   {% for user in users %}
   <tr>
   <td>{{user.name}}</td>
   <td><a href="{{path('show_user',{'id':user.id})}}" class="btn btn-warning show-user" data-id="{{user.id}}">Show User</a> <a href="# " class="btn btn-danger delete-user" data-id="{{user.id}}">Delete User</a></td>
   </tr>
   {% endfor %}
   </tbody>
   </table>

   <hr>
   <table class="table table-striped" id="groups" >
   <thead>
   <th>Group Name</th>
   <th>actions</th>
   </thead>
   <tbody>
   {% for group in groups %}
   <tr>
   <td>{{group.name}}</td>
   <td><a href="{{path('show_group',{'id':group.id})}} " class="btn btn-warning show-Group" data-id="{{group.id}}">Show Group</a> <a href="#" class="btn btn-danger delete-group" data-id="{{group.id}}">Delete Group</a></td>
   </tr>
   {% endfor %}
   </tbody>
   </table>
    
   
</div>
{% endblock %}

{% block javascripts %}
  <script src="{{asset('js/main.js')}}"></script>
{% endblock %}