{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 <h1> {{user.name}} <h2>

 <form class="form" action="{{path('assign',{'id':user.id})}}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
 <select class="form-control" name="group_id">
    <option selected disabled>choose group </option>
 {% for group in groups %}

   <option value="{{group.id}}">{{group.name}}</option>
   
   {% endfor %}
 </select>
 <button class="btn btn-success" type="submit">Add To Group</button>
 </form>

 <h2>Groups of user </h2>
 <ul>
 {% for group in user.groups %}

   <li value="{{group.id}}">{{group.name}}</li>
   
   {% endfor %}
 </ul>
</div>
{% endblock %}