{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome To My UserManagmentSystem ✅</h1>
    <h4>Signup </h4>

    
    <form class="form" action="{{ path('insert') }}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <input class="form-control" type="text"  placeholder="write your name" name="name">
    <input class="form-control" type="password" placeholder="write your password" name="password">
    <select class="form-control" name="rule">
    <option value="1">Admin</option>
    <option value="2">User</option>
    </select>
    <button type="submit" class="btn btn-success">Signup</button>
    </form>
    <h3>Aleardy have account <h4><a href="{{ path('user') }}">signin</a></h4></h3>
</div>
{% endblock %}